gatein-extension-html5-configuration/.classpath
gatein-extension-html5-configuration/.project
gatein-extension-html5-configuration/target/
gatein-extension-html5-ear/.project
gatein-extension-html5-ear/target/
gatein-extension-html5-portlets/.classpath
gatein-extension-html5-portlets/.project
gatein-extension-html5-portlets/target/
gatein-extension-html5-war/.classpath
gatein-extension-html5-war/.project
gatein-extension-html5-war/target/
